{# Sticky levostranná TOC – vyplní se JS-em z <h2> v .art-body #}
<aside class="toc" data-toc-target>
    <div class="toc-label">Obsah kapitoly</div>
    <ol class="toc-list" data-toc-list>
        {# Naplní article-toc.js #}
    </ol>
</aside>
